.fogo_header_banner_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.fogo_header_banner_wrapper a {
    display: inline-block;
}

.fogo_header_banner_wrapper img {
    width: auto;
    max-width: 100%;
    object-fit: contain;
}
.bannerWide {
    display: none;
}

@media (min-width: 468px) {
    .fogo_header_banner_wrapper img {
        height: 50px;
    }
    .bannerWide {
        display: block;
    }
    .bannerMedium {
        display: none;
    }
}
/* 
@media (min-width: 768px) {
    .fogo_header_banner_wrapper {
        background: radial-gradient(
            140% 300% at 50% 50%,
            rgb(255, 61, 0) 0%,
            #1a3a24 55%,
            var(--bg-dark1) 100%
        );
    }
} */
