.mainContainer {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    width: 100%;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
}

.mainContainer *::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}
