:root {
    --particles-shift-x: 56px;
}

.canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 0;
    /* background-color: red; */
}

/* Removed red border */
.canvasRightSide {
    width: 100%;
}

/* Removed red border */
.canvasBottom {
    top: 0%;
    height: 100%;
}

.debugBox {
    position: fixed;
    border: 1px dashed magenta;
    box-sizing: border-box;
    pointer-events: none;
    z-index: 5;
}

/* @media (max-width: 1080px) and (min-width: 769px) {
  .canvasRightSide {
    left: calc(-1 * var(--particles-shift-x));
    width: calc(100% + (2 * var(--particles-shift-x)));
  }
} */
