.canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 0;
}

/* Removed red border */
.canvasRightSide {
    left: 0%;
    width: 100%;
}

/* Removed red border */
.canvasBottom {
    top: 0%;
    height: 100%;
}

.debugBox {
    position: fixed;
    border: 1px dashed magenta;
    box-sizing: border-box;
    pointer-events: none;
    z-index: 5;
}
