:root {
    --particles-shift-x: 56px;
}

.canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 0;
    will-change: contents;
    transform: translateZ(0);
    contain: strict;
    /* background-color: red; */
}

/* Removed red border */
.canvasRightSide {
    width: 100%;
}

/* Removed red border */
.canvasBottom {
    top: 0%;
    height: 100%;
}

.debugBox {
    position: fixed;
    border: 1px dashed magenta;
    box-sizing: border-box;
    pointer-events: none;
    z-index: 5;
}

/* @media (max-width: 1080px) and (min-width: 769px) {
  .canvasRightSide {
    left: calc(-1 * var(--particles-shift-x));
    width: calc(100% + (2 * var(--particles-shift-x)));
  }
} */

@media (max-width: 768px) {
    .canvasLinks {
        height: calc(100svh - 60px);
        bottom: 0;
        padding-bottom: var(--footer-h);
    }
}

@media (max-width: 926px) and (max-height: 428px) and (orientation: landscape) {
    .canvasBottom {
        top: -20px;
    }
}
