.vault_details {
    display: flex;
    flex-direction: column;
    width: 1200px;
    outline: 1px solid green;
    gap: 16px;
}

.vault_details > header {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.vault_details > header > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--gap-s);
}

.vault_stats {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.vault_stats > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 240px;
    padding: 16px;
    gap: 16px;
    border-radius: 16px;
    background-color: var(--bg-dark2);
}

.vault_stats > div > h3 {
    font-size: var(--font-size-m);
    color: var(--text2);
}

.vault_stats > div > p {
    font-size: var(--font-size-xl);
    color: var(--text1);
}